# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
__pycache__

# Virtual environment
venv/
env/

# Dependency directories
node_modules/
jspm_packages/

# Ignore log files
*.log

# Editor-specific files
.vscode/
.idea/

# Database
*.sqlite3

# Compiled Python files
*.pyc

# PyInstaller
dist/
build/
*.spec

# Local development configuration
.env
